/* body */
body{
  font-family: 'Oswald', arial;
  /*duda color al inspeccionar elemento*/
  color: #373A3C;
}

/* navbar ->preguntar por padding*/
.navbar span{
  font-size: 24px;
}
/* header */
.bg-purple{
  background-color: #660066;
}
header{
  background-image: url('../img/bg_hero.png');
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}
#header h2{
  font-weight: 200;
}
#header div{
  padding-top: 32rem;
}
#header hr{
  background-color: white;
  height: 1px;
  width: 24%;
}

/* sobreMi */
#sobreMi{
  font-family: 'Open Sans';
}
#sobreMi h2{
  font-weight: 600;
}
#sobreMi p{
  font-size: 18px;
  font-weight: 400;
}
#sobreMi hr{
  background-color: #373A3C;
  height: 1px;
  width: 10%;
}

/* experiencia */
#experiencia h2{
  font-size: 37px;
}
#experiencia h4{
  font-weight: 600;
}
#experiencia h5{
  font-family: 'Open Sans';
  font-weight: 300;
}
#experiencia hr{
  background-color: #373A3C;
  height: 1px;
  width: 8%;
}

/* trabajos */
#trabajos h2{
  font-size: 37px;
}
#trabajos p{
  font-family: 'Open Sans';
  font-weight: 300;
}
#trabajos hr{
  background-color: white;
  height: 1px;
  width: 7%;
}
/* modales*/
.modales p{
  font-family: 'Open Sans';
  font-weight: 300;
}

/* contacto */
#contacto h2{
  font-size: 37px;
}
#contacto hr{
  background-color: #373A3C;
  height: 1px;
  width: 8%;
}

/* footer */
/*falta !!!!!!!!!!- alinear horizontalmente h3 con iconos*/
.iconos a{
  text-decoration: none;
  color: white;
}

/*  responsivo - dispositivos medios y small  */
@media (max-width: 767.98px){
  /*experiencia - separar columnas*/
  .columna2{
    padding-top: 28px;
  }
  /* footer - separacion magdalena - iconos*/
  .m-footer{
    padding-bottom: 1rem;
  }
}
@media (max-width: 575.98px) {
  /* trabajos - espacio entre cartas*/
  .mtop-5{
    margin-top: 3rem;
  }
}
@media(max-width: 575.98px) and (min-width: 415px){
  /*evaluar!!!!!!!!!!!!!!!*/
  .mazos{
    padding-left: 14%;
  }
}
@media(max-width: 414px){
  .mazos{
    padding-left: 1rem;
  }
}
