.bg-purple{
  background-color: #660066;
}

.lineaB{
  background-color: white;
  height: 2px;
  width: 20%;
}
.lineaN{
  background-color: black;
  height: 2px;
  width: 8%;
}

/* header   */
header{
  background-image: url('../img/bg_hero.png');
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}
header .header{
  padding-top: 32rem;
}

/* footer  */
.iconos a{
  text-decoration: none;
  color: white;
}
